# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
supabase
requests==2.28.2
azure-identity==1.12.0
azure-storage-blob==12.14.1
azure-keyvault-secrets
azure-keyvault-keys
azure-keyvault-certificates